@import "glyph.css";

*,:after,:before{
    box-sizing:border-box
}
html{
	min-height:100%;
    -webkit-tap-highlight-color:transparent;
}
/*Basic*/
body,html{    box-sizing: border-box;margin:0;padding:0;font-family:-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;}
body{background:#f9f9f9;overflow-x:hidden;}
body .mfp-wrap .mfp-progress-line span{width:0;height:4px;background:#ededed;margin-bottom:-40px;transition:width 10s ease-in-out;display:inline-block; background: #ff9900}
a{word-wrap:break-word;text-decoration:none}
a.white:focus{color:#fff!important;text-decoration:none}
a.white:hover{color:#f3f3f3;text-decoration:none}
a,button{outline:0!important;color:#000;}
ul,ol{
	list-style:none;
}

.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{
    position:relative;
    min-height:1px;
    padding-right:15px;
    padding-left:15px
}
.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{
    float:left
}
.col-xs-12{
    width:100%
}
.col-xs-11{
    width:91.66666667%
}
.col-xs-10{
    width:83.33333333%
}
.col-xs-9{
    width:75%
}
.col-xs-8{
    width:66.66666667%
}
.col-xs-7{
    width:58.33333333%
}
.col-xs-6{
    width:50%
}
.col-xs-5{
    width:41.66666667%
}
.col-xs-4{
    width:33.33333333%
}
.col-xs-3{
    width:25%
}
.col-xs-2{
    width:16.66666667%
}
.col-xs-1{
    width:8.33333333%
}
.col-xs-pull-12{
    right:100%
}
.col-xs-pull-11{
    right:91.66666667%
}
.col-xs-pull-10{
    right:83.33333333%
}
.col-xs-pull-9{
    right:75%
}
.col-xs-pull-8{
    right:66.66666667%
}
.col-xs-pull-7{
    right:58.33333333%
}
.col-xs-pull-6{
    right:50%
}
.col-xs-pull-5{
    right:41.66666667%
}
.col-xs-pull-4{
    right:33.33333333%
}
.col-xs-pull-3{
    right:25%
}
.col-xs-pull-2{
    right:16.66666667%
}
.col-xs-pull-1{
    right:8.33333333%
}
.col-xs-pull-0{
    right:auto
}
.col-xs-push-12{
    left:100%
}
.col-xs-push-11{
    left:91.66666667%
}
.col-xs-push-10{
    left:83.33333333%
}
.col-xs-push-9{
    left:75%
}
.col-xs-push-8{
    left:66.66666667%
}
.col-xs-push-7{
    left:58.33333333%
}
.col-xs-push-6{
    left:50%
}
.col-xs-push-5{
    left:41.66666667%
}
.col-xs-push-4{
    left:33.33333333%
}
.col-xs-push-3{
    left:25%
}
.col-xs-push-2{
    left:16.66666667%
}
.col-xs-push-1{
    left:8.33333333%
}
.col-xs-push-0{
    left:auto
}
.col-xs-offset-12{
    margin-left:100%
}
.col-xs-offset-11{
    margin-left:91.66666667%
}
.col-xs-offset-10{
    margin-left:83.33333333%
}
.col-xs-offset-9{
    margin-left:75%
}
.col-xs-offset-8{
    margin-left:66.66666667%
}
.col-xs-offset-7{
    margin-left:58.33333333%
}
.col-xs-offset-6{
    margin-left:50%
}
.col-xs-offset-5{
    margin-left:41.66666667%
}
.col-xs-offset-4{
    margin-left:33.33333333%
}
.col-xs-offset-3{
    margin-left:25%
}
.col-xs-offset-2{
    margin-left:16.66666667%
}
.col-xs-offset-1{
    margin-left:8.33333333%
}
.col-xs-offset-0{
    margin-left:0
}
@media (min-width:768px){
    .col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9{
        float:left
    }
    .col-sm-12{
        width:100%
    }
    .col-sm-11{
        width:91.66666667%
    }
    .col-sm-10{
        width:83.33333333%
    }
    .col-sm-9{
        width:75%
    }
    .col-sm-8{
        width:66.66666667%
    }
    .col-sm-7{
        width:58.33333333%
    }
    .col-sm-6{
        width:50%
    }
    .col-sm-5{
        width:41.66666667%
    }
    .col-sm-4{
        width:33.33333333%
    }
    .col-sm-3{
        width:25%
    }
    .col-sm-2{
        width:16.66666667%
    }
    .no-padding-left{
        padding-left:0;
    }
    .col-sm-1{
        width:8.33333333%
    }
    .col-sm-pull-12{
        right:100%
    }
    .col-sm-pull-11{
        right:91.66666667%
    }
    .col-sm-pull-10{
        right:83.33333333%
    }
    .col-sm-pull-9{
        right:75%
    }
    .col-sm-pull-8{
        right:66.66666667%
    }
    .col-sm-pull-7{
        right:58.33333333%
    }
    .col-sm-pull-6{
        right:50%
    }
    .col-sm-pull-5{
        right:41.66666667%
    }
    .col-sm-pull-4{
        right:33.33333333%
    }
    .col-sm-pull-3{
        right:25%
    }
    .col-sm-pull-2{
        right:16.66666667%
    }
    .col-sm-pull-1{
        right:8.33333333%
    }
    .col-sm-pull-0{
        right:auto
    }
    .col-sm-push-12{
        left:100%
    }
    .col-sm-push-11{
        left:91.66666667%
    }
    .col-sm-push-10{
        left:83.33333333%
    }
    .col-sm-push-9{
        left:75%
    }
    .col-sm-push-8{
        left:66.66666667%
    }
    .col-sm-push-7{
        left:58.33333333%
    }
    .col-sm-push-6{
        left:50%
    }
    .col-sm-push-5{
        left:41.66666667%
    }
    .col-sm-push-4{
        left:33.33333333%
    }
    .col-sm-push-3{
        left:25%
    }
    .col-sm-push-2{
        left:16.66666667%
    }
    .col-sm-push-1{
        left:8.33333333%
    }
    .col-sm-push-0{
        left:auto
    }
    .col-sm-offset-12{
        margin-left:100%
    }
    .col-sm-offset-11{
        margin-left:91.66666667%
    }
    .col-sm-offset-10{
        margin-left:83.33333333%
    }
    .col-sm-offset-9{
        margin-left:75%
    }
    .col-sm-offset-8{
        margin-left:66.66666667%
    }
    .col-sm-offset-7{
        margin-left:58.33333333%
    }
    .col-sm-offset-6{
        margin-left:50%
    }
    .col-sm-offset-5{
        margin-left:41.66666667%
    }
    .col-sm-offset-4{
        margin-left:33.33333333%
    }
    .col-sm-offset-3{
        margin-left:25%
    }
    .col-sm-offset-2{
        margin-left:16.66666667%
    }
    .col-sm-offset-1{
        margin-left:8.33333333%
    }
    .col-sm-offset-0{
        margin-left:0
    }
}
@media (min-width:992px){
    .col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9{
        float:left
    }
    .col-md-12{
        width:100%
    }
    .col-md-11{
        width:91.66666667%
    }
    .col-md-10{
        width:83.33333333%
    }
    .col-md-9{
        width:75%;
        padding-left:0
    }
    .col-md-8{
        width:66.66666667%
    }
    .col-md-7{
        width:58.33333333%
    }
    .col-md-6{
        width:50%
    }
    .col-md-5{
        width:41.66666667%
    }
    .col-md-4{
        width:33.33333333%;
        padding-left:0
    }
    .col-md-3{
        width:25%;
    }
    .col-md-3.sidebar {
        padding-left: 0;
    }
     .col-md-2{
        padding-right:0;
         width:16.66666667%
    }
    .col-md-1{
        width:8.33333333%
    }
    .col-md-pull-12{
        right:100%
    }
    .col-md-pull-11{
        right:91.66666667%
    }
    .col-md-pull-10{
        right:83.33333333%
    }
    .col-md-pull-9{
        right:75%
    }
    .col-md-pull-8{
        right:66.66666667%
    }
    .col-md-pull-7{
        right:58.33333333%
    }
    .col-md-pull-6{
        right:50%
    }
    .col-md-pull-5{
        right:41.66666667%
    }
    .col-md-pull-4{
        right:33.33333333%
    }
    .col-md-pull-3{
        right:25%
    }
    .col-md-pull-2{
        right:16.66666667%
    }
    .col-md-pull-1{
        right:8.33333333%
    }
    .col-md-pull-0{
        right:auto
    }
    .col-md-push-12{
        left:100%
    }
    .col-md-push-11{
        left:91.66666667%
    }
    .col-md-push-10{
        left:83.33333333%
    }
    .col-md-push-9{
        left:75%
    }
    .col-md-push-8{
        left:66.66666667%
    }
    .col-md-push-7{
        left:58.33333333%
    }
    .col-md-push-6{
        left:50%
    }
    .col-md-push-5{
        left:41.66666667%
    }
    .col-md-push-4{
        left:33.33333333%
    }
    .col-md-push-3{
        left:25%
    }
    .col-md-push-2{
        left:16.66666667%
    }
    .col-md-push-1{
        left:8.33333333%
    }
    .col-md-push-0{
        left:auto
    }
    .col-md-offset-12{
        margin-left:100%
    }
    .col-md-offset-11{
        margin-left:91.66666667%
    }
    .col-md-offset-10{
        margin-left:83.33333333%
    }
    .col-md-offset-9{
        margin-left:75%
    }
    .col-md-offset-8{
        margin-left:66.66666667%
    }
    .col-md-offset-7{
        margin-left:58.33333333%
    }
    .col-md-offset-6{
        margin-left:50%
    }
    .col-md-offset-5{
        margin-left:41.66666667%
    }
    .col-md-offset-4{
        margin-left:33.33333333%
    }
    .col-md-offset-3{
        margin-left:25%
    }
    .col-md-offset-2{
        margin-left:16.66666667%
    }
    .col-md-offset-1{
        margin-left:8.33333333%
    }
    .col-md-offset-0{
        margin-left:0
    }
}
@media (min-width:1200px){
    .col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9{
        float:left
    }
    .col-lg-12{
        width:100%
    }
    .col-lg-11{
        width:91.66666667%
    }
    .col-lg-10{
        width:83.33333333%
    }
    .col-lg-9{
        width:75%
    }
    .col-lg-8{
        width:66.66666667%
    }
    .col-lg-7{
        width:58.33333333%
    }
    .col-lg-6{
        width:50%
    }
    .col-lg-5{
        width:41.66666667%
    }
    .col-lg-4{
        width:33.33333333%
    }
    .col-lg-3{
        width:25%;
        padding-left:0
    }
    .col-lg-2{
        /* width:16.66666667% */
    }
    .col-lg-1{
        width:8.33333333%
    }
    .col-lg-pull-12{
        right:100%
    }
    .col-lg-pull-11{
        right:91.66666667%
    }
    .col-lg-pull-10{
        right:83.33333333%
    }
    .col-lg-pull-9{
        right:75%
    }
    .col-lg-pull-8{
        right:66.66666667%
    }
    .col-lg-pull-7{
        right:58.33333333%
    }
    .col-lg-pull-6{
        right:50%
    }
    .col-lg-pull-5{
        right:41.66666667%
    }
    .col-lg-pull-4{
        right:33.33333333%
    }
    .col-lg-pull-3{
        right:25%
    }
    .col-lg-pull-2{
        right:16.66666667%
    }
    .col-lg-pull-1{
        right:8.33333333%
    }
    .col-lg-pull-0{
        right:auto
    }
    .col-lg-push-12{
        left:100%
    }
    .col-lg-push-11{
        left:91.66666667%
    }
    .col-lg-push-10{
        left:83.33333333%
    }
    .col-lg-push-9{
        left:75%
    }
    .col-lg-push-8{
        left:66.66666667%
    }
    .col-lg-push-7{
        left:58.33333333%
    }
    .col-lg-push-6{
        left:50%
    }
    .col-lg-push-5{
        left:41.66666667%
    }
    .col-lg-push-4{
        left:33.33333333%
    }
    .col-lg-push-3{
        left:25%
    }
    .col-lg-push-2{
        left:16.66666667%
    }
    .col-lg-push-1{
        left:8.33333333%
    }
    .col-lg-push-0{
        left:auto
    }
    .col-lg-offset-12{
        margin-left:100%
    }
    .col-lg-offset-11{
        margin-left:91.66666667%
    }
    .col-lg-offset-10{
        margin-left:83.33333333%
    }
    .col-lg-offset-9{
        margin-left:75%
    }
    .col-lg-offset-8{
        margin-left:66.66666667%
    }
    .col-lg-offset-7{
        margin-left:58.33333333%
    }
    .col-lg-offset-6{
        margin-left:50%
    }
    .col-lg-offset-5{
        margin-left:41.66666667%
    }
    .col-lg-offset-4{
        margin-left:33.33333333%
    }
    .col-lg-offset-3{
        margin-left:25%
    }
    .col-lg-offset-2{
        margin-left:16.66666667%
    }
    .col-lg-offset-1{
        margin-left:8.33333333%
    }
    .col-lg-offset-0{
        margin-left:0
    }
}
caption{
    padding-top:8px;
    padding-bottom:8px;
    color:#777
}
.table{
    width:100%;
    max-width:100%;
    margin-bottom:10px
}
.table>tbody>tr>td,.table>tbody>tr>th,.table>tfoot>tr>td,.table>tfoot>tr>th,.table>thead>tr>td,.table>thead>tr>th{
    padding:8px;
    line-height:1.42857143;
    vertical-align:top
}
.table>thead>tr>th{
    vertical-align:bottom;
    border-bottom:2px solid #ddd
}
.btn,.btn-group,.btn-group-vertical,.caret{
    vertical-align:middle
}
.table>caption+thead>tr:first-child>td,.table>caption+thead>tr:first-child>th,.table>colgroup+thead>tr:first-child>td,.table>colgroup+thead>tr:first-child>th,.table>thead:first-child>tr:first-child>td,.table>thead:first-child>tr:first-child>th{
    border-top:0;
    color:#555
}
.table>tbody+tbody{
    border-top:2px solid #ddd
}
.table .table{
    background-color:#fff
}
.table-condensed>tbody>tr>td,.table-condensed>tbody>tr>th,.table-condensed>tfoot>tr>td,.table-condensed>tfoot>tr>th,.table-condensed>thead>tr>td,.table-condensed>thead>tr>th{
    padding:5px
}
.table-bordered{
    border:1px solid #ededed
}
.table-bordered>tbody>tr>td,.table-bordered>tbody>tr>th,.table-bordered>tfoot>tr>td,.table-bordered>tfoot>tr>th,.table-bordered>thead>tr>td,.table-bordered>thead>tr>th{
    border:0
}
.table-bordered>thead>tr>td,.table-bordered>thead>tr>th{
    border-bottom-width:2px
}
.table-striped>tbody>tr:nth-of-type(odd){
    background-color:#f9f9f9
}
.table-hover>tbody>tr:hover,.table>tbody>tr.active>td,.table>tbody>tr.active>th,.table>tbody>tr>td.active,.table>tbody>tr>th.active,.table>tfoot>tr.active>td,.table>tfoot>tr.active>th,.table>tfoot>tr>td.active,.table>tfoot>tr>th.active,.table>thead>tr.active>td,.table>thead>tr.active>th,.table>thead>tr>td.active,.table>thead>tr>th.active{
    background-color:#f5f5f5
}
table col[class*=col-]{
    position:static;
    display:table-column;
    float:none
}
table td[class*=col-],table th[class*=col-]{
    position:static;
    display:table-cell;
    float:none
}
.btn-group>.btn-group,.btn-toolbar .btn-group,.btn-toolbar .input-group,.dropdown-menu{
    float:left
}
.table-hover>tbody>tr.active:hover>td,.table-hover>tbody>tr.active:hover>th,.table-hover>tbody>tr:hover>.active,.table-hover>tbody>tr>td.active:hover,.table-hover>tbody>tr>th.active:hover{
    background-color:#e8e8e8
}
.table>tbody>tr.success>td,.table>tbody>tr.success>th,.table>tbody>tr>td.success,.table>tbody>tr>th.success,.table>tfoot>tr.success>td,.table>tfoot>tr.success>th,.table>tfoot>tr>td.success,.table>tfoot>tr>th.success,.table>thead>tr.success>td,.table>thead>tr.success>th,.table>thead>tr>td.success,.table>thead>tr>th.success{
    background-color:#dff0d8
}
.table-hover>tbody>tr.success:hover>td,.table-hover>tbody>tr.success:hover>th,.table-hover>tbody>tr:hover>.success,.table-hover>tbody>tr>td.success:hover,.table-hover>tbody>tr>th.success:hover{
    background-color:#d0e9c6
}
.table>tbody>tr.info>td,.table>tbody>tr.info>th,.table>tbody>tr>td.info,.table>tbody>tr>th.info,.table>tfoot>tr.info>td,.table>tfoot>tr.info>th,.table>tfoot>tr>td.info,.table>tfoot>tr>th.info,.table>thead>tr.info>td,.table>thead>tr.info>th,.table>thead>tr>td.info,.table>thead>tr>th.info{
    background-color:#d9edf7
}
.table-hover>tbody>tr.info:hover>td,.table-hover>tbody>tr.info:hover>th,.table-hover>tbody>tr:hover>.info,.table-hover>tbody>tr>td.info:hover,.table-hover>tbody>tr>th.info:hover{
    background-color:#c4e3f3
}
.table>tbody>tr.warning>td,.table>tbody>tr.warning>th,.table>tbody>tr>td.warning,.table>tbody>tr>th.warning,.table>tfoot>tr.warning>td,.table>tfoot>tr.warning>th,.table>tfoot>tr>td.warning,.table>tfoot>tr>th.warning,.table>thead>tr.warning>td,.table>thead>tr.warning>th,.table>thead>tr>td.warning,.table>thead>tr>th.warning{
    background-color:#fcf8e3
}
.table-hover>tbody>tr.warning:hover>td,.table-hover>tbody>tr.warning:hover>th,.table-hover>tbody>tr:hover>.warning,.table-hover>tbody>tr>td.warning:hover,.table-hover>tbody>tr>th.warning:hover{
    background-color:#faf2cc
}
.table>tbody>tr.danger>td,.table>tbody>tr.danger>th,.table>tbody>tr>td.danger,.table>tbody>tr>th.danger,.table>tfoot>tr.danger>td,.table>tfoot>tr.danger>th,.table>tfoot>tr>td.danger,.table>tfoot>tr>th.danger,.table>thead>tr.danger>td,.table>thead>tr.danger>th,.table>thead>tr>td.danger,.table>thead>tr>th.danger{
    background-color:#f2dede
}
.table-hover>tbody>tr.danger:hover>td,.table-hover>tbody>tr.danger:hover>th,.table-hover>tbody>tr:hover>.danger,.table-hover>tbody>tr>td.danger:hover,.table-hover>tbody>tr>th.danger:hover{
    background-color:#ebcccc
}
.table-responsive{
    min-height:.01%;
    overflow-x:auto
}
@media screen and (max-width:767px){
    .table-responsive{
        width:100%;
        margin-bottom:15px;
        overflow-y:hidden;
        -ms-overflow-style:-ms-autohiding-scrollbar;
        border:1px solid #ddd
    }
    .table-responsive>.table{
        margin-bottom:0
    }
    .table-responsive>.table>tbody>tr>td,.table-responsive>.table>tbody>tr>th,.table-responsive>.table>tfoot>tr>td,.table-responsive>.table>tfoot>tr>th,.table-responsive>.table>thead>tr>td,.table-responsive>.table>thead>tr>th{
        white-space:nowrap
    }
    .table-responsive>.table-bordered{
        border:0
    }
    .table-responsive>.table-bordered>tbody>tr>td:first-child,.table-responsive>.table-bordered>tbody>tr>th:first-child,.table-responsive>.table-bordered>tfoot>tr>td:first-child,.table-responsive>.table-bordered>tfoot>tr>th:first-child,.table-responsive>.table-bordered>thead>tr>td:first-child,.table-responsive>.table-bordered>thead>tr>th:first-child{
        border-left:0
    }
    .table-responsive>.table-bordered>tbody>tr>td:last-child,.table-responsive>.table-bordered>tbody>tr>th:last-child,.table-responsive>.table-bordered>tfoot>tr>td:last-child,.table-responsive>.table-bordered>tfoot>tr>th:last-child,.table-responsive>.table-bordered>thead>tr>td:last-child,.table-responsive>.table-bordered>thead>tr>th:last-child{
        border-right:0
    }
    .table-responsive>.table-bordered>tbody>tr:last-child>td,.table-responsive>.table-bordered>tbody>tr:last-child>th,.table-responsive>.table-bordered>tfoot>tr:last-child>td,.table-responsive>.table-bordered>tfoot>tr:last-child>th{
        border-bottom:0
    }
}
fieldset{
    min-width:0;
    padding:0;
    margin:0;
    border:0
}
legend{
    width:100%;
    padding:10px 10px 10px 0;
    font-size:19px;
    line-height:inherit;
    color:#333;
    border:0
}
 
dl,ol,ul{
    margin-top:0
}
.pmessenger {
    width: 100%;
    position: absolute;
    background: #fff;
    display: flex;
    height: 100%!important;
	margin:0!important;
    z-index: 104;
    top: 0;
    left: 0;
	
}

.login_error_msg,.login_success_msg {
    color: #ff2300;
    margin: 5px 0;
    display: flex;
    justify-content: center;
    font-weight: 500;
}
.login_form {
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login_success_msg {
    color: green;
}
.ms-standalone-logout-inline {
    display: flex;
}.standalone_messenger_logout svg {
    width: 28px;
    height: 28px;
    transform: rotate(90deg);
    margin: 10px 14px 0 0px;
}

.standalone_messenger_logout {
    position: relative;
}.ms_standalone_st_menu {
    position: absolute;
    background-color: #fff;
    width: auto;
    height: auto;
    border: 1px solid #d0cdcd;
    z-index: 900;
    right: 5px;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 8px 0;
}.ms_standalone_st_menu a {
    width: 100%;
    display: block;
    white-space: nowrap;
    padding: 4px 16px;
    position: relative;
    box-sizing: border-box;
}.ms_standalone_st_menu a:hover {
    background: #4f82ce;
    color: #fff;
}

.ms-day-shift #ms_day_shift_btn{
	display:none;
}
.ms-night-shift #ms_night_shift_btn{
	display:none;
}
 
.ms-night-shift #ms-st-settings-ic path{
	fill:#ddd;
	
}

.js_media_stickers *, .js_media_gifs * {
    box-sizing: border-box;
}



._li._li._li {
    overflow: initial;
}._3v_o {
    font-family: Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
    width: 100%;
}._3v_o {
    display: table;
    height: 100%;
    min-height: 600px;
    padding-bottom: 50px;
    position: absolute;
}._5hy2 {
    display: table-cell;
    vertical-align: middle;
}._3400 {
    align-items: center;
    display: flex;
    height: 120px;
    justify-content: center;
    min-width: 100%;
    width: 120px;
}._3400 .img {
    display: block;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
}._3v_v ._3400 .img {
    height: 120px !important;
}._3400 .img._9g9d {
    height: 75px !important;
    width: 75px;
}._3403 {
    color: rgba(0, 0, 0, 1);
    font-size: 35px;
    font-weight: 450;
    line-height: 40px;
    margin-bottom: 45px;
    margin-top: 24px;
    text-align: center;
    padding: 1px 16px;
}._5hy4, ._3403 {
    font-family: Calibre, Helvetica Neue, Segoe UI, Helvetica, Arial, Lucida Grande, sans-serif;
}._5s4n {
    text-align: center;
}._3v_o ._5s4n {
    height: 216px;
}.hidden_elem {
    display: none !important;
}._3v_u {
    margin-top: 32px;
}._3v_o ._43di {
    border: 1px solid rgba(0, 0, 0, .20);
    border-radius: 4px;
    color: rgba(0, 0, 0, 1);
    display: block;
    font-family: Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif;
    font-size: 17px;
    height: 42px;
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 16px;
    width: 286px;
}._3v_o ._2m_r {
    align-items: center;
    border: none;
    box-shadow: none;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    text-shadow: none;
    white-space: nowrap;
}._5hy2 ._43dh {
    background: #fff;
    color: #0084ff;
    font-size: 24px;
    font-weight: normal;
    margin-top: 24px;
}._5hy2 ._43dh {
    color: #0a7cff;
}._9hep ._5hy2 ._43dh {
    background: #0a7cff;
    border-radius: 50px;
    color: #fff;
    font-size: 15px;
    padding: 9.5px 20px;
}._4jy0:before {
    content: '';
    display: inline-block;
    height: 20px;
    vertical-align: middle;
}._3v_o ._43dj {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 320px;
}.uiInputLabel {
    position: relative;
}.clearfix {
    zoom: 1;
}._43dj .uiInputLabel {
    text-align: center;
}._43dj .uiInputLabelInput {
    height: 16px;
    top: 1px;
    width: 16px;
}._43dj .uiInputLabelInput>input {
    opacity: 0;
    position: absolute;
}._43dj .uiInputLabelInput>input+span:before {
    background-image: url(/img/lCkTJRrcRMR.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0 -207px;
    content: '';
    display: inline-block;
    height: 16px;
    position: relative;
    width: 16px;
}._43dj .uiInputLabelInput>input:checked+span:before {
    background-image: url(/img/lCkTJRrcRMR.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -17px -207px;
}._43dj .uiInputLabelLabel {
    color: #929292;
    font-size: 14px;
    font-weight: normal;
}.uiInputLabel .uiInputLabelLabel {
    display: inline-block;
    margin-left: 17px;
    vertical-align: text-top;
}.webkit.mac ._43dj .uiInputLabel .uiInputLabelLabel, ._43dj .uiInputLabel .uiInputLabelLabel {
    margin-left: 12px;
}.clearfix:after {
    clear: both;
    content: '.';
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}._210n {
    bottom: 0;
    font-size: 11px;
    margin-bottom: 66px;
    position: absolute;
    text-align: center;
    width: 100%;
}._7mqw, ._7mqw a, ._7mqw ._2yib {
    color: #a8a8a8;
}._9hep ._5hy2 ._7mqw, ._9hep ._7mqw a, ._9hep ._7mqw ._2yib {
    color: #262626;
    font-size: 15px;
    font-weight: 400;

}
._210n._7mqw {
    white-space: nowrap;
    overflow-x: auto;
    padding: 20px 20px 0px 20px;
}
._210n._7mqw::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
._210n._7mqw {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
._3401 {
    margin: 0 14px;
}._9hep ._3401 {
    visibility: hidden;
}._4sze {
    font-family: Calibre, Helvetica Neue, Segoe UI, Helvetica, Arial, Lucida Grande, sans-serif;
}

 ._login_brand svg {
    height: 100px;
    width: 100px;
}
._4jy0 {
    border: 1px solid;
    border-radius: 2px;
    box-sizing: content-box;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    justify-content: center;
    padding: 0 8px;
    position: relative;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;
}._4jy0 {
    transition: 200ms cubic-bezier(.08,.52,.52,1) background-color, 200ms cubic-bezier(.08,.52,.52,1) box-shadow, 200ms cubic-bezier(.08,.52,.52,1) transform;
}._4jy1, ._4jy2 {
    color: #fff;
}._4jy1 {
    background-color: #4267b2;
    border-color: #4267b2;
}._4jy3, ._4jy3._42fr:active, ._4jy3._42fr._42fs {
    line-height: 22px;
}._42ft {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
}._3v_o ._2m_r {
    align-items: center;
    border: none;
    box-shadow: none;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    text-shadow: none;
    white-space: nowrap;
}._3v_o ._5hy8 {
    margin-bottom: 64px;
    margin-top: 24px;
}._5hy2 ._5hy8 {
    background: #0084ff;
    color: #fff;
}._5s4n ._2m_r {
    background: #0a7cff;
    border-color: #0a7cff;
    border-radius: 100px;
    border-style: solid;
    border-width: 1px;
    color: #fff;
    font-size: 15px;
    line-height: 1.67;
    max-width: 190px;
    padding: 15px 30px;
}._4jy1:hover {
    background-color: #365899;
    border-color: #365899;
}._42ft:hover {
    text-decoration: none;
}._3v_o ._5s4n ._5hy8 {
    width: 304px;
}._9hep ._5hy2 ._5hy8 {
    background: #0a7cff;
    border-radius: 30px;
    font-size: 15px;
    height: 46px;
    line-height: 20px;
    padding: 0 40px;
    transition: background .2s ease-in;
    width: auto;
}._9hep ._5hy2 ._5hy8:hover {
    background: #4d4dff;
}._5hy9 {
    color: #0a7cff;
    font-size: 16.5px;
 
}
 
/**
 * ==============================================
 * Dot Flashing
 * ==============================================
 */
.dot-flashing {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dotFlashing 1s infinite linear alternate;
  animation-delay: .5s;
}

.dot-flashing::before, .dot-flashing::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-flashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 0s;
}

.dot-flashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dotFlashing {
  0% {
    background-color: #9880ff;
  }
  50%,
  100% {
    background-color: #ebe6ff;
  }
}

.__none{
	display:none!important;
}